<p>
  <b>Name:</b>
  <%=h @client.name %>
</p>

<p>
  <b>Client key:</b>
  <%=h @client.client_key %>
</p>

<p>
  <b>Active:</b>
  <%=h @client.active %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>